.conda/*
.cache/*
.snakemake/*
.config/*
.ssh/*
.theano/*
.conda/*
.git/*
.idea/*
.keras/*
backup-snakefile
container/*
.R*
workflow.Rproj
test-cluster/*
*.html
*.log
config-test.yaml
*.egg*
baseDmux/bin/*
baseDmux/lib*
dist/*
baseDmux/pyvenv.cfg
build/*
*/.conda/*
*/.snakemake/*
*/__pycache__/*
venv/*
test/*
